body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Black background with 70% transparency */
    background: linear-gradient(to bottom, rgba(139, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); /* Black-Red gradient */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slightly darker shadow */
    text-align: center;
    color: #fff; /* White text for better contrast */
}

h1 {
    text-align: center;
    color: #fff; /* White color to stand out against dark background */
    font-size: 36px;
}

/* Form and Fields */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
}

.single-data-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff; /* White text */
}

.register-button-box {
    width: 80%;
    text-align: center;
    
}
.register-button-box button {
    font-size: 18px;
}
p {
    text-align: center;
    font-size: 15px;
    color: #eaf2eb; /* White text for links */
}

p a {
    color: #eaf2eb; /* Light green for contrast */
    /* text-decoration: none; */
}

p a:hover {
    text-decoration: underline;
}
label{
    font-weight: bold;
}
/* Input Fields */
input {
    margin: 10px 0;
    padding: 10px;
    width: 100%; /* Full width */
    border: 1px solid #CCCCCC; /* Light grey border */
    border-radius: 5px; /* Rounded edges */
    font-size: 16px;
    background-color: #cccccc80;
    color: white;
}

input:focus {
    border: 1px solid #66CC66; /* Light green border on focus */
    outline: none;
}

/* Buttons */
button {
    background-color:#c63d2b ; /* Green */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 12px 20px; /* Increased padding for better touch targets */
    border-radius: 5px;
    width: 100%; /* Full width */
}

button:hover {
    background-color: #b46759; /* Darker green on hover */
}

/* Container Shadow for More Focus */
.container {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Slightly darker shadow */
}
