body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
}
.single-data-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.register-button-box{
    width: 80%;
    text-align: center;
}
p{
    text-align: center;
    font-size: 15px;
}
p a{
    color: #5cb85c;
 }
input, button {
    margin: 10px 0;
    padding: 10px;
    width: inherit
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #407c1f;
}
